.user-table-container{
    margin: auto;
    margin-top: 75px;
    width: 95%;
    hr{
        margin-top: 3px;
    }
    .table-wrapper{
        border: 1px solid #dfdfdf;
        background-color: white;
        .search-box{
            width:20%;
            margin: 15px;
            border-radius: 5px;
            float: right
        }
        .create-user-btn{
            float: right;
            z-index: 1;
            margin: 15px;       
        }

    }
    .ant-form-item-label{
        padding: 0;
    }
    .ant-drawer-title{
        font-size: 17px;
        font-weight: 600;
        color: #5d5d5d;
    }
    .create-user-btn{
        background-color: #41b3a3;
        border-color: #41b3a3;
    }

}
.ant-table-pagination.ant-pagination{
    margin: 16px 16px;
}




