
.login-container{
	background-color: #f2f6fa;
	position: absolute;
	width: 100%;
	height: auto;
	min-height: 100vh;
	.passwordPage{
    width: 30%;
    margin: auto !important;
    padding: 40px 45px !important;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 10px;
    .login-text {
      text-align: center;
      font-weight: 600;
      color: #8b8a8a;
      margin-bottom: 25px;
      font-size: 15px;
    }
    .login-form-button{
      width: 100%;
      background-color: #41b3a3;
      color: white;
      font-size: 11px;
      font-family: nunito-black;
      padding: 0px 65px;
      cursor: pointer; 
      height: 40px;
      border-radius: 8px;
      border: 0;
      font-size: 17px;
      font-weight: 500;
      margin-top: 30px;
    }
    input {
      height: 35px;
      border-radius: 5px;
    }
    span{
      border-radius: 8px;
    }
  }
  
  .login-text {
    text-align: center;
    font-weight: 600;
    color: #8b8a8a;
    margin-bottom: 25px;
    font-size: 15px;
  }

  .mg-top{
		margin-top: 30px;
	}

	.mg-bottom{
		margin-bottom: 30px;
	}
  .errorText{
      color: #ff4d4f;
    }
    .ant-form-item-has-error .ant-input-affix-wrapper, .ant-form-item-has-error .ant-input:hover, .ant-form-item-has-error .ant-input-affix-wrapper:hover {
      border-color: #ff4d4f;
    }
}
